data/Q06187.txt
data/empty.fasta
data/empty_sequence.fasta
data/long_30125.fasta
data/para_contigs.fasta
data/short.fasta
data/short_29209.fasta
data/test.fasta
.Rhistory
amazon_credential
credentials.txt
.DS_Store
results/
*.pyc
src/
__pycache__/
._*
*.egg-info/
.Rproj.user
